*.class
package/
target/
out/
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
*.pydevproject
.project
.metadata
bin/**
build/
logs/
deploy/
tmp/**
tmp/**/*
db.xml
test_db.xml
db.sqlite
test_db.sqlite
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.idea/
*.iml
logs/