<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" name="WhoGonnaHelpConfig">
    <Properties>
        <Property name="hibernate_file">logs/hibernate.log</Property>
    </Properties>
    <Appenders>
        <Appender type="File" name="hibernate_appender" fileName="${hibernate_file}" append="false">
            <Layout type="PatternLayout">
                <Pattern>%d %p [%t] %m%n</Pattern>
            </Layout>
        </Appender>
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate.SQL" level="finest" additivity="false">
            <AppenderRef ref="hibernate_appender"/>
        </Logger>
        <Logger name="org.hibernate.type" level="finest" additivity="false">
            <AppenderRef ref="hibernate_appender"/>
        </Logger>
        <Logger name="java.sql" level="debug" additivity="false">
            <AppenderRef ref="hibernate_appender"/>
        </Logger>
        <Root level="off">
        </Root>
    </Loggers>
</Configuration>